{{#partial "content"}}
    <div class="container">
        <h1>ENTER GOODS DETAILS</h1>

        <div class="form">
            <form action='/goods-forms' method="post">
                <input type="text" name="name" class="form-control" placeholder="Goods name" required><br>
                <input type="number" name="serialNo" class="form-control" placeholder="serial No" reequired><br>
                <input type="number" name="quantity" class="form-control" placeholder="Quantity" reequired><br>
                <input type="text" name="origin" class="form-control"  placeholder="Origin" reequired><br>

                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </form>
        </div>

    </div>


{{/partial}}
{{>layout.hbs}}