<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/style.css">
    <title>{{#block "title" }}Les Importateurs{{/block}}</title>
</head>
<body>
<nav>
    <div id="nav">
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/logs-form">LogIn</a>
        <a class="btn" href="/goods/new">Goods Details</a>
        <a class="btn" href="/details">Shipment Details</a>
        <a class="btn" href="/reviews-forms">Reviews</a>

    </div>
</nav>
<!--begin main template-->
<div class="container">
    {{#block "content" }}
    {{/block }}
</div>
<!--end main template-->
{{#block "footer" }}
    </body>
    </html>
{{/block }}






