{{#partial "content"}}
    <h1>CREATE ACCOUNT</h1>

    <div class="container">
        <div class="form">
            <form action='/login/new' method="post">

                <input type="text" name="name" placeholder="Name" required  class=" form-control my-3 my-4 "><br>
                <input type="text" name="email" placeholder="Email" required  class=" form-control my-3 my-4 "><br>
                <input type="text" name="phone" placeholder="Phone" required  class=" form-control my-3 my-4 "><br>
                <input type="text" name="homeAddress" placeholder="Home Address" required  class=" form-control my-3 my-4 "><br>
                <input type="text" name="password" placeholder="Password" required  class=" form-control my-3 my-4 "><br>

                <button type="submit" class="btn btn-primary">Sign Up </button>
            </form>
        </div>
    </div>


    {{/partial}}
{{>layout.hbs}}
