{{#partial "content"}}

    <div class="container">
    <h>We value your feedback.</h>
    <h2>Make a review here!</h2>

    <div class="form">
        <form>
            <input type="text" name="name" placeholder="Name" class="form-control">
            <input type="text" name="comment" placeholder="Comment..." class="form-control">
        </form>
    </div>
    </div>

    <h1>Reviews</h1>
    {{#each review}}
        <div class="reviews">
            <h3>{{name}}</h3>
            <
        </div>
        {{/each}}


    {{/partial}}
{{>layout.hbs}}