{{#partial "content"}}

    <div>
        <h1>Account successfully created!</h1>
        <p>Make your first order <strong><a href="/goods/new">here.</a></strong></p>
    </div>
    {{/partial}}
{{>layout.hbs}}